<div class="container">
    <button class="btn btn-primary btn-sm" ng-click="create()">创建</button>
    <button class="btn btn-primary btn-sm" ng-click="query()">读取</button>
    <button class="btn btn-primary btn-sm" ng-click="update()">修改</button>
    <button class="btn btn-primary btn-sm" ng-click="delete()">删除</button>


    <table class="table">
        <tr><td>haha</td><td>dhh</td></tr>
        <tr ng-repeat="row in rows">
            <td class="col-md-1">{{row.username}}</td>
            <td class="col-md-1">{{row.role}}</td>
        </tr>

    </table>
</div>